.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

#App-title {
  font-size: 2rem !important
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 12px;
  color: white;
}

a {
  color: #09f;
  font-size: 1rem;
  text-decoration: none;
}

.gifs-list {
  width: 150vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline-start: 0 !important;
}
